*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seashell;
}
.wrapper{
    width: 450px;
    background: mediumspringgreen;
    color: white;
}
.wrapper h1{
    font-size: 34px;
    text-align: center;
}
